body {
    margin: 5vmin;
    background-image: url(images/chess_3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: auto;
}


/******** index ************/

.board {
    border: 8vmin solid #c19a6b;
    box-shadow: 0 5vmin 5vmin rgb(0 0 0 /65%);
    width: 91vmin;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 11.4vmin);
    grid-template-rows: 7vmin repeat(8, 11.4vmin) 7vmin;
    /* grid-auto-flow: row; */
}

.board-inner {
    display: grid;
    /* grid-gap: 0; */
    grid-template-columns: repeat(8, auto);
    /* grid-template-rows: auto; */
    /* grid-auto-flow: row; */
    /* align-items: stretch; */
}

.box {
    height: auto;
    width: auto;
    font-size: 8vmin;
    background-color: #a9a9a9;
    text-align: center;
    /* display: grid;
    justify-content: center;
    align-items: center; */
}

.white {
    color: #FFDEAD;
    text-shadow: 2px 2px black;
}

.black {
    color: black;
}

.white:hover,
.black:hover {
    transform: scale(1.1);
    color: #89CFF0;
}

.box-inner {
    text-align: center;
    align-self: center;
    font-size: 3vmin;
}

.top,
.bottom {
    display: grid;
    /* align-items: stretch; */
    background-color: #7d694c;
}

.top {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
}

.bottom {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 10;
    grid-row-end: 10;
}

.box:nth-child(-2n+9),
.box:nth-child(9)~div:nth-child(-2n+16),
.box:nth-child(17)~div:nth-child(-2n+25),
.box:nth-child(25)~div:nth-child(-2n+32),
.box:nth-child(33)~div:nth-child(-2n+41),
.box:nth-child(41)~div:nth-child(-2n+48),
.box:nth-child(49)~div:nth-child(-2n+57),
.box:nth-child(57)~div:nth-child(-2n+64) {
    background-color: #F5F5DC;
}


/**************play**********/

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #a9a9a9;
    background-color: #a9a9a9;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
    border-color: #a9a9a9;
    color: #fff;
    box-shadow: 0 0 40px 40px #a9a9a9 inset, 0 0 0 0 #a9a9a9;
    transition: all 150ms ease-in-out;
}

.btn:hover {
    box-shadow: 0 0 10px 0 #c19a6b inset, 0 0 10px 4px #c19a6b;
}